ENVIRONMENT=test
BASE_URL=https://mmo-cr-copilot-dashboard.test.cdp.defra.gov.uk/
CATCH_RECORDING_ENV=test
CATCH_RECORDING_BASE_URL=https://mmo-cr-copilot-dashboard.test.cdp.defra.gov.uk/
CATCH_RECORDING_EMAIL=
CATCH_RECORDING_PASSWORD=
CATCH_RECORDING_API_BASE_URL=
CATCH_RECORDING_API_TOKEN=
